* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.nav-list {
  height: 70px;
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  line-height: 70px;
  list-style: none;
}

.nav-list > :first-child {
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

.logo {
  height: 70px;
}

.nav-list-item {
  display: inline-block;
  font-size: 16px;
  margin: 0 30px;
}

#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding-top: 200px;
}

.main-visual-text {
  text-align: center;
}

.main-visual-text h1 {
  font-size: 64px;
  color: #FAFAFA;
}

.main-visual-text p {
  font-size: 20px;
  color: #FAFAFA;
  margin-top: 10px;
}

#portfolio, #profile {
  background-color: #ECEFF1;
  padding: 90px 0;
  text-align: center;
  margin: 0;
}

soction h1 {
  font-size: 32px;
  color: #000000;
}

.red-line {
  margin-top: 8px;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  margin-right: auto;
  margin-left: auto;
}

section p {
  font-size: 16px;
  color: #000000;
  margin: 30px 0;
}

.list-wrap {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.list-box {
  margin-right: 10px;
}

.image1 {
  width: 300px;
  height: 250px;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.image2 {
  width: 300px;
  height: 250px;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.image3 {
  width: 300px;
  height: 250px;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}

.image4 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}

.image5 {
  width: 300px;
  height: 250px;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}

.image6 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

.list-wrap > div:nth-child(3), div:nth-child(6) {
  margin-right: 0px;
}

.list-wrap > div:nth-child(1),div:nth-child(2), div:nth-child(3) {
  margin-bottom: 10px;
}

#feature {
  padding: 90px 0;
  text-align: center;
  margin: 0;
}

.feature-content {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.feature-item {
  width: 320px;
  margin-right: 10px;
}

.icon {
  margin: 0 auto;
}

.size {
  font-size: 60px;
}

.feature-item h2 {
  font-size: 20px;
  color: #000000;
  margin: 10px auto;
}

.feature-content > div:nth-child(3) {
  margin-right: 10px;
}

.profile-content {
  width: 1024px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.profile-item {
  width: 512px;
  text-align: left;
}

.profile-img {
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  margin: 0 auto;
}

.profile-item h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-item p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}